<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tambah Penduduk</title>
</head>
<body>

	<form action="/penduduk/tambah" method="post" th:model="pendudukForm">
		<h3>Masukkan Nama</h3>
		<input type="text" th:field="*{pendudukForm.nama}"/>
		
		<h3>Tempat Lahir</h3>
		<input type="text" th:field="*{pendudukForm.tempatLahir}"/>
				
		<h3>Tanggal Lahir</h3>
		<input type="text" th:field="*{pendudukForm.tanggalLahir}" th:text="' Ex: 2017-05-24'"/>
		
		<h3>Jenis Kelamin</h3>
		<select th:field="*{pendudukForm.jenisKelamin}">
			<option value = "0" >Pria</option>
			<option value ="1" >Wanita</option>
		</select>
				
		<h3>Golongan Darah</h3>
		<select th:field="*{pendudukForm.golonganDarah}">
			<option value = "AB+">AB+</option>
			<option value = "A+">A+</option>
			<option value = "B+">B+</option>
			<option value = "O+">O+</option>
			<option value = "AB-">AB-</option>
			<option value = "A-">A-</option>
			<option value = "B-">B-</option>
			<option value = "O-">O-</option>
		</select>
				
		<h3>Agama</h3>
		<input type="text" th:field="*{pendudukForm.agama}"/>
				
		<h3>Status Perkawinan</h3>
		<input type="text" th:field="*{pendudukForm.statusPerkawinan}"/>
		
		<h3>Status Dalam Keluarga</h3>
		<input type="text" th:field="*{pendudukForm.statusDalamKeluarga}"/>
				
		<h3>Pekerjaan</h3>
		<input type="text" th:field="*{pendudukForm.pekerjaan}"/>
				
		<h3>Kewarganegaraan</h3>
		<select th:field="*{pendudukForm.wni}">
			<option value = "true">
				WNI
			</option>
			<option value = "false">
				WNA
			</option>
		</select>
				
		<h3>Status Kematian</h3>
		<select th:field="*{pendudukForm.wafat}">
			<option value = "false">Hidup</option>
			<option value = "true">Meninggal</option>
		</select>
				
		<h3>Id Keluarga</h3>
		<input type="text" th:field="*{pendudukForm.idKeluarga}"/>
		
		<div>
			<button type = "submit">SIMPAN</button>
		</div>
		
	</form>

</body>
</html>