<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistem Informasi Kependudukan Online</title>
</head>
<body>

<h1>Sistem Infromasi Kependudukan Online Provinsi DKI Jakarta</h1>
<span>Selamat datang di Sistem Informasi Kependudukan Online Provinsi DKI Jakarta</span>
<br/>
<hr/>

<form action="penduduk" method="get">
<h3>Lihat Data Penduduk Berdasarkan NIK</h3>
<label>Masukkan Nomor Induk Kependudukan</label>
<br/>
<br/>
<input type="text" name="nik"/>
<br/>
<br/>
<button type="submit">Lihat</button>
</form>
<br/>
<hr/>

<form action="keluarga" method="get">
<h3>Lihat Data Keluarga Berdasarkan NKK</h3>
<label>Masukkan Nomor Kartu Keluarga</label>
<br/>
<br/>
<input type="text" name="nkk"/>
<br/>
<br/>
<button type="submit">Lihat</button>
</form>

</body>
</html>